[submodule "leaflet-easyPrint"]
	path = leaflet-easyPrint
	url = https://github.com/sswroom/leaflet-easyPrint.git
[submodule "leaflet-drawText"]
	path = leaflet-drawText
	url = https://github.com/sswroom/leaflet-drawText.git
[submodule "dom-to-image"]
	path = dom-to-image
	url = https://github.com/sswroom/dom-to-image
[submodule "leaflet-rotate"]
	path = leaflet-rotate
	url = https://github.com/sswroom/leaflet-rotate
